.textborder {
    -webkit-text-stroke: 1.5px #000000;
}

.textshadow{
    text-shadow: 6px 5px 0px #000000;
}

.doddleshadow{
    text-shadow: 6px 3px 0px #000000;
}
.startshadow{
    text-shadow: 4px 4px 0px #000000;
}

.btnshadow{
    box-shadow: 4px 4px 0px #e2d4a4;
}

.randomshadow{
    text-shadow: 4px 3px 0px #000000;
}